################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MouseWheelMPG/v15
/.vs/UCCNCplugintest/v15
